@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'InfinitySans-RegularA1';
}

a {
    text-decoration-line: none;
    color: #000;
}

body {
    max-width: 1400px;
    align-items: center;
    margin: 0 auto;
}

.main_header {
    padding: 1% 1%;
    height: 10%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-color: gray;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#logoimg{
    width: 200px;
}

.info {
    padding: 1% 3%;
    height: 3%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hotel_name,
.rev_btn,
.hotel_info {
    padding: auto;
    margin: auto;

}

.hotel_info {
    width: 70%;
    align-items: flex-start;
}

#reserv,
#login,
#signup {
    background-color: orange;
    border-style: none;
    border-radius: 10px;
    width: 80px;
    height: 40px;
}

#reserv {
    width: 120px;
}

.navi ul {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
}

.navi ul li {
    list-style-type: none;
    padding: 0.5% 3%;
    width: 10%;
}

.navi a:link,
.navi a:visited {
    display: block;
    font-size: 14px;
    color: #000;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

.navi a:hover,
.navi a:focus {
    background-color: #222;
    color: #fff;
}

.navi a:active {
    background-color: #f00;
}

.main-content {
    position: relative;
}

.mc-img img {
    width: 100%;
    vertical-align: middle;
}

.mc-note {
    text-align: center;
    transform: translate( -50%, -50% );
    top: 50%;
	left: 50%;
    text-align: center;
	position: absolute;
    color: #fff;
    border: 3px solid white;
    background-color: #00000073;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mc-note-head {
    font-size: xx-large;
}